@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a,
a:visited {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    z-index: 1000;
    position: relative;
}
a:hover {
    font-size: 1.3rem;
    color: rgb(56, 26, 230);;
}
p{
    font-size: 0.8rem;
}

body{
    min-height: 100vh;
    background: rgb(35, 34, 34);
    color: white;
    cursor: none;
}
.mouse{
    position: absolute;
    border-radius: 1500px;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#curseur{
    background: rgb(56, 26, 230);
    width: 14px;
    height: 14px;
    
}
#mouse1{
height: 100px;
width: 100px;
background: white;
transition: 0.15s ease-out;
}
#mouse2{
height: 200px;
width: 200px;
background: rgb(41, 41, 41);
transition: 0.25s ease-out;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}
.header-left{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.header-left-container h3 {
    color: rgb(56, 26, 230);
    font-size: 1.8rem;
}
h1{
    font-size: 5rem;
}
.header-rigth {
    width: 50%;
}
#modem {
    width: 100%;
}
.infos{
    display: flex;
    background: rgb(18, 18, 18);
    border-radius: 10px;
}
.infos-left{
    width: 33%;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
button{
    border: none;
    background: rgb(56, 26, 230);
    color: white;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
    border-radius: 10px;
}
.infos-rigth {
    width: 67%;

}
.investors {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.img-investors{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.img-investors img {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}